.topo {
    padding: 8px 0;
    position: relative;
    }
.banner-topo .img-destaque {
    max-width: 400px;
}
.h11 {
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    padding-top: 100px;
}
.h12 {
    color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 80px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.h13 {
    color: rgb(40, 56, 56);
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: rgb(40, 56, 56);
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 150px;
    margin-top: 150px;
}
.h14 {
    color: rgb(40, 56, 56);
    padding-left: 100px;
    padding-right: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 150px;
    margin-top: 150px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.bold {
    font-weight: bold;
}
.form {
    padding-left: 100px;
}
.d{
    padding-top: 20px;
}
.btn {
    padding-left: 3%;
    margin-left: 10%;
}
.img {
    max-width: 80%;
    height: auto;
}

.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
}

.banner-topo {
    padding-top: 20px;
    margin-bottom: 2%;
    padding-left: 50px;
}
.cor-tema {
    color: rgb(86, 86, 100);
}
.sobre {
    background-color: rgb(86, 86, 100);
    color: rgb(40, 56, 56);
}
.sobre {
    padding-left: 50px;
    margin-top: 100px;
}
.conteiner {
    margin-left: 2%;
    margin-right: 2%;
}
.rodape {
    background: rgb(148, 148, 219);
    color: rgb(10, 10, 10);
}

.formulario2 {
    width: 600px;
    margin-left: 150px;
    margin-right: 150px;
    padding-left: 150px;
    padding-right: 100px;
    border: 1px solid rgb(168, 167, 167);
}
.formulario {
    width: 400px;
    padding: 30px;
    border: 1px solid rgb(168, 167, 167);
}
.section {
    margin: 50px;
    padding: 10px;
    border: 1px black;
}
.nome {
    border: 1px solid rgb(168, 167, 167);
    background-color: rgb(229, 226, 226);
    padding: 60px;
}
